@model BamboPortal_V1._0._0._0.ModelViews.AdministratorStockpile.indexModelView
@{
    Layout = "~/Views/SharedViewPages/Administrator/MasterView.cshtml";
}

<div class="modal fade" id="deactivemodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">غیرفعال کردن فروشگاه</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <span id="data-name">

                    </span>
                    غیرفعال شود؟
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
                <button type="button" class="btn btn-danger">بله</button>
            </div>
        </div>
    </div>
</div>


<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                <span class="m-subheader__daterange-label">
                    <h3 class="m-subheader__title" style="padding-left: 0!important;margin: 0 0 0 2px!important;">
                        پیشخوان
                        <i class="fa fa-chevron-left tshfontsize2" style="transform: translateY(3px);color: #aaaeb8;margin-right: 2px;"></i>
                        <span class="m-subheader__daterange-title tshfontsize2" style="margin-right: 2px;margin-left: 2px;">فاکتور های در حال پرداخت</span>
                        <!--
                        <i class="fa fa-chevron-left" style="transform: translateY(3px);color: #aaaeb8;"></i>
                        <span class="m-subheader__daterange-title" style="margin-right: 2px;">نمایش همه ی پست ها</span>
                        -->
                    </h3>
                </span>
            </span>
        </div>
    </div>
</div>


<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#tb1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    تایتل
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3 mt-5" style="padding: 0;text-align: center">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 custom-padding-search" style="margin: 0 auto;">

                                <div class="input-group input-group-lg m-input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-hashtag"></i></span>
                                    </div>
                                    <input id="search" type="text" class="form-control m-input" placeholder="" aria-describedby="basic-addon1">
                                    @*<div class="input-group-append">
                                        <button class="btn m-btn--square  btn-info m-btn m-btn--custom m-btn--bolder m-btn--uppercase" type="button">ثبت وارده / صادره</button>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tb1">
                        <div class="m-portlet__body">
                            <div class="m-section">
                                <div class="m-section__content">
                                    <table class="cust-table table table-striped table-hover m-table m-table--head-separator-primary">
                                        <thead>
                                            <tr>
                                                <th>ردیف</th>
                                                <th>نام محصول</th>
                                                <th>کد محصول</th>
                                                <th>واحد شمارش</th>
                                                <th>حجم وارده</th>
                                                <th>قیمت کل وارده</th>
                                                <th>حجم صادره</th>
                                                <th>قیمت کل صادره</th>
                                                @*<th>موجودی</th>*@
                                                <th>انبار</th>
                                                @*<th>وضعیت</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Table)
                                            {


                                                <tr class='LinkedRow' data-href='@Url.Action("ProductInStockpile","AdministratorStockpile")?PSID=@item.id_MPC'>
                                                    <td>
                                                        @item.rowNumber
                                                    </td>
                                                    <td>
                                                        @item.ProductName
                                                    </td>
                                                    <td class="tshbeforeht ProductCode " id="">
                                                        @item.ProductCode
                                                    </td>
                                                    <td>
                                                        @item.ProductDimension
                                                    </td>
                                                    <td>
                                                        @item.AllEnteredValue
                                                    </td>
                                                    <td class=" tshaftermarginright">
                                                        @item.AllEnteredPrice
                                                    </td>
                                                    <td class=" tshaftermarginright">
                                                        @item.AllOutValue
                                                    </td>
                                                    <td>
                                                        @item.AllOutPriece
                                                    </td>
                                                    @*<td>
                                                            @item.Mojoodi
                                                        </td>*@
                                                    <td>
                                                        @item.Shopname
                                                    </td>
                                                    @*<td>
                                                            <button class="btn btn-success tshpcustom deactivate-btn" data-target="#deactivemodal" data-toggle="modal" data-name="بیلبیلگ"><i class="fa fa-check tshfa"></i>فعال</button>
                                                        </td>*@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>



                                    @*<table style="display: none;" class="cust-table cust-table-2 table table-striped table-hover m-table m-table--head-separator-primary">
                                            <tr>
                                                <th>ردیف</th>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <th>نام محصول</th>
                                                <td>متر</td>
                                            </tr>
                                            <tr>
                                                <th>کد محصول</th>
                                                <td class="tshbeforeht">12312321</td>
                                            </tr>
                                            <tr>
                                                <th>واحد شمارش</th>
                                                <td>متر</td>
                                            </tr>
                                            <tr>
                                                <th>حجم وارده</th>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <th>میانگین قیمت واحد وارده</th>
                                                <td class="tshaftertoman tshaftermarginright">500,000</td>
                                            </tr>
                                            <tr>
                                                <th>قیمت وارده</th>
                                                <td class="tshaftertoman tshaftermarginright">50</td>
                                            </tr>
                                            <tr>
                                                <th>حجم صادره</th>
                                                <td>50</td>
                                            </tr>
                                            <tr>
                                                <th>میانگین قیمت واحد صادره</th>
                                                <td class="tshaftertoman tshaftermarginright">50</td>
                                            </tr>
                                            <tr>
                                                <th>قیمت کل صادره</th>
                                                <td class="tshaftertoman tshaftermarginright">50</td>
                                            </tr>
                                            <tr>
                                                <th>موجودی</th>
                                                <td>100</td>
                                            </tr>
                                            <tr>
                                                <th>انبار</th>
                                                <td>تجریش</td>
                                            </tr>
                                            <tr>
                                                <th>وضعیت</th>
                                                <td>
                                                    <button class="btn btn-success tshpcustom deactivate-btn" data-target="#deactivemodal" data-toggle="modal" data-name="بیلبیلگ"><i class="fa fa-check tshfa"></i>فعال</button>
                                                </td>
                                            </tr>
                                        </table>*@

                                    <div class="col-lg-12 mt-4 mb-4">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tb2">
                        <div class="not-access" style="display: none">
                            <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;">
                                <span class="swal2-x-mark">
                                    <span class="swal2-x-mark-line-left"></span>
                                    <span class="swal2-x-mark-line-right"></span>
                                </span>
                            </div>
                            <h5 style="display: block;text-align: center" class="text-danger">شما به این صفحه دسترسی ندارید!</h5>
                        </div>
                        <form class="m-form m-form--fit m-form--label-align-right" id="sv-form" onsubmit="return false;">
                            <div class="row">
                                <div class="form-group m-form__group col-lg-6 col-xs-12">
                                    <label for="pdpDefault" class="col-12 col-form-label tshtextright">تاریخ</label>
                                    <div style="position: relative" class="col-12">
                                        <input class="form-control" type="text" name="sv1" id="pdpDefault" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group col-lg-6 col-xs-12" style="padding-top: 0;">
                                    <label for="time" class="col-12 tshtextright col-form-label">ساعت</label>
                                    <div class="clockpicker col-12">
                                        <input type="text" class="form-control ttime" name="sv2" id="time">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-6 col-xs-12">
                                    <label for="sv3" class="col-12 tshtextright col-form-label">کد محصول</label>
                                    <div class="col-12" style="position: relative">
                                        <div class="input-group-append" style="position: absolute;top: 0;right: 15px;">
                                            <span class="input-group-text">#</span>
                                        </div>
                                        <input class="form-control m-input" style="padding-right: 50px!important;" id="sv3" name="sv3" type="number" value="">
                                    </div>
                                </div>
                                <div class="form-group m-form__group col-lg-6 col-xs-12" style="padding-top: 0;">
                                    <label for="sv4" class="col-12 tshtextright col-form-label">نام محصول</label>
                                    <div class="col-12">
                                        <input class="form-control m-input" id="sv4" name="sv4" type="text" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-6 col-xs-12">
                                    <label for="sv5" class="col-12 tshtextright col-form-label">میزان وارده</label>
                                    <div class="col-12" style="position: relative">
                                        <input class="form-control m-input" id="sv5" name="sv5" type="number" value="">
                                        <div class="input-group-append" style="position: absolute;top: 0;left: 15px;">
                                            <span class="input-group-text">گرم</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group col-lg-6 col-xs-12" style="padding-top: 0;">
                                    <label for="sv6" class="col-12 tshtextright col-form-label">قیمت وارده</label>
                                    <div class="col-12" style="position: relative">
                                        <input class="form-control m-input" id="sv6" name="sv6" type="number" value="">
                                        <div class="input-group-append" style="position: absolute;top: 0;left: 15px;">
                                            <span class="input-group-text">تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12 col-xs-12">
                                    <label for="sv7" class="col-12 tshtextright col-form-label">انبار</label>
                                    <div class="col-12">
                                        <select class="form-control m-bootstrap-select m_selectpicker col-12" title="‫انتخاب کنید..." id="sv7" name="sv7" data-live-search="true">
                                            <option>گزینه یک</option>
                                            <option>گزینه دو</option>
                                            <option>گزینه سه</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-form__group col-lg-12 col-xs-12" style="padding-top: 0;">
                                    <label for="sv8" class="col-12 tshtextright col-form-label">جزئیات محصول</label>
                                    <div class="col-12">
                                        <textarea name="sv8" id="sv8" class="form-control" style="height: 150px;padding-top: 15px;padding-bottom: 15px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit mt-4">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-12 tshtextleft">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom sv-form-btn">ثبت</button>&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tb3">
                        <div class="not-access" style="display: none">
                            <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;">
                                <span class="swal2-x-mark">
                                    <span class="swal2-x-mark-line-left"></span>
                                    <span class="swal2-x-mark-line-right"></span>
                                </span>
                            </div>
                            <h5 style="display: block;text-align: center" class="text-danger">شما به این صفحه دسترسی ندارید!</h5>
                        </div>
                        <form class="m-form m-form--fit m-form--label-align-right" id="sv-form2" onsubmit="return false;">
                            <div class="row">
                                <div class="form-group m-form__group col-lg-6 col-xs-12">
                                    <label for="pdpDefault2" class="col-12 col-form-label tshtextright">تاریخ</label>
                                    <div style="position: relative" class="col-12">
                                        <input class="form-control" type="text" name="sv1" id="pdpDefault2" />
                                    </div>
                                </div>
                                <div class="form-group m-form__group col-lg-6 col-xs-12" style="padding-top: 0;">
                                    <label for="time2" class="col-12 tshtextright col-form-label">ساعت</label>
                                    <div class="clockpicker col-12">
                                        <input type="text" class="form-control ttime" name="sv2" id="time2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-6 col-xs-12">
                                    <label for="sv3" class="col-12 tshtextright col-form-label">کد محصول</label>
                                    <div class="col-12" style="position: relative">
                                        <div class="input-group-append" style="position: absolute;top: 0;right: 15px;">
                                            <span class="input-group-text">#</span>
                                        </div>
                                        <input class="form-control m-input" style="padding-right: 50px!important;" id="sv33" name="sv3" type="number" value="">
                                    </div>
                                </div>
                                <div class="form-group m-form__group col-lg-6 col-xs-12" style="padding-top: 0;">
                                    <label for="sv4" class="col-12 tshtextright col-form-label">نام محصول</label>
                                    <div class="col-12">
                                        <input class="form-control m-input" id="sv44" name="sv4" type="text" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-6 col-xs-12">
                                    <label for="sv5" class="col-12 tshtextright col-form-label">میزان صادره</label>
                                    <div class="col-12" style="position: relative">
                                        <input class="form-control m-input" id="sv55" name="sv5" type="number" value="">
                                        <div class="input-group-append" style="position: absolute;top: 0;left: 15px;">
                                            <span class="input-group-text">گرم</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group col-lg-6 col-xs-12" style="padding-top: 0;">
                                    <label for="sv6" class="col-12 tshtextright col-form-label">قیمت صادره</label>
                                    <div class="col-12" style="position: relative">
                                        <input class="form-control m-input" id="sv66" name="sv6" type="number" value="">
                                        <div class="input-group-append" style="position: absolute;top: 0;left: 15px;">
                                            <span class="input-group-text">تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group m-form__group col-lg-12 col-xs-12">
                                    <label for="sv77" class="col-12 tshtextright col-form-label">انبار</label>
                                    <div class="col-12">
                                        <select class="form-control m-bootstrap-select m_selectpicker col-12" title="‫انتخاب کنید..." id="sv77" name="sv7" data-live-search="true">
                                            <option>گزینه یک</option>
                                            <option>گزینه دو</option>
                                            <option>گزینه سه</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group m-form__group col-lg-12 col-xs-12" style="padding-top: 0;">
                                    <label for="sv8" class="col-12 tshtextright col-form-label">جزئیات محصول</label>
                                    <div class="col-12">
                                        <textarea name="sv8" id="sv8" class="form-control" style="height: 150px;padding-top: 15px;padding-bottom: 15px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit mt-4">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2">
                                        </div>
                                        <div class="col-12 tshtextleft">
                                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom sv-form-btn2">ثبت</button>&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        jQuery(document).ready(function ($) {
            $(".LinkedRow").click(function () {
                window.location = $(this).data("href");
            });

        });



        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function () {
                if ($(this).text().toLowerCase().indexOf(value) > -1) {
                    $(this).show(400);
                } else {
                    $(this).hide(400);
                }
            });
        });
    </script>
}