@model BamboPortal_V1._0._0._0.ModelViews.CustomerSide.AboutUsModelView
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";
}

<section class="section-img with-overlay page-custom-header page-top-light custom-pd-mg-about" style="background-image:url('../../CustomerSide_desinerResource/images/mess.jpg');">
    <div class="section-overlay-light" style="background-color: rgba(255, 255, 255, 0.8);">
        <div class="container" style="        margin-top: 80px;
">
            <div class="row">
                <div class="col-md-12 header-inline">
                    <div class="header-inline-content">
                        <h3 class="page-title text-tertiary"><strong>گالری پارچه ولوت</strong></h3>
                        <h5 class="page-subtitle text-vertical-large tshtextjus">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </h5>
                    </div>
                    <div class="header-inline-content header-inline-breadcrumb custom-nav">
                        <ul class="breadcrumb">
                            <li><a href="@Url.Action("index","CustomerSide_Pages")">ولوت</a></li>
                            <li class="active">درباره ما</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-6" style="float: right">
            <img alt="image" class="img-responsive center-block" src="~/CustomerSide_desinerResource/images/velvetLogoBig.png" />
        </div>
        <div class="col-sm-6 text-center about-t" style="float: left">
            <h3 class="fancy-heading mar-bot-15 text-uppercase">
                <span class="double bordered tshabout-h3">
                    ذهن خلاق شما را با زیبایی بینظیر پارچه هایمان می آراییم
                </span>
            </h3>
            <!--<h4 class="text-lighter text-tertiary text-center no-margin pad-bot-50">Velvet Textile Gallery</h4>-->
            <h5 class="no-margin pad-bot-50 text-vertical-large text-main tshtextjus">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </h5>
        </div>
    </div>
</div>

<section class="section-pattern with-overlay clearfix no-margin-bottom" style="background-image:url('../../CustomerSide_desinerResource/images/patterns/brickwall_%402X.png'); margin-top: 0px;">
    <div class="section-overlay-light custom-commnet-res" style="background-color: rgba(255, 255, 255, 0.4);">
        <div class="container">
            <div class="row comment-row">
                <div class="col-md-12 text-center">
                    <h4 class="fancy-heading text-center mar-bot-25"><span class="blocked"> <strong>نظر کاربران عزیزی که تا کنون به ما اعتماد کرده اند</strong></span></h4>
                    <!--<h3 class="text-lighter fancy-heading text-tertiary">Velvet Textile Gallery</h3>-->
                    <div class="owl-carousel owl-theme owl-arrows owl-arrows-view testimonial-carousel text-darker tshcomments" data-items="1" data-items-desktop="1" data-items-tablet="1" data-items-mobile="1" data-navigation="true" data-pagination="false" data-auto-height="true">

                        @foreach (var item in Model.CustomerMessages)
                        {
                            <div class="item">
                                <h4 class="no-margin text-main text-vertical-large">
                                    <small>
                                        @item.Message
                                        <span class="weight-500 letter-spacing-1 tshdisblock tshmt">
                                            <i>
                                                @item.Name
                                            </i>
                                        </span>
                                    </small>
                                </h4>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row cus-row">
                <div class="col-md-12 pad-top-100 tshmt2">
                    <h4 class="fancy-heading text-center mar-bot-25"><span class="blocked"> <strong>همکاران ما</strong></span></h4>
                    <div class="owl-carousel owl-theme client-block" data-items="5" data-items-desktop="5" data-items-tablet="4" data-items-mobile="2" data-pagination="false" data-auto-play="true">
                        @foreach (var item in Model.TeamMembers)
                        {
                            <div class="item">
                                <a href="#" data-placement="top" data-toggle="tooltip" class="tip-top" data-original-title="@item.Name"><img alt="image" class="img-responsive center-block" src="@item.ImagePath" /></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section CS_Scripts {
    <script>
        var revapi;
        jQuery(document).ready(function () {
            setInterval(function () {
                $('.owl-prev').trigger('click');
            }, 3000);


            revapi = jQuery("#rev_slider_1").revolution({
                sliderType: "standard",
                sliderLayout: "fullscreen",
                fullScreenOffsetContainer: ".navigation",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    mouseScrollNavigation: "on",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    bullets: {
                        enable: true,
                        rtl: true,
                        hide_onmobile: false,
                        style: "hebe",
                        hide_onleave: false,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 10,
                        space: 5,
                        tmp: '<span class="tp-bullet-inner"></span>'
                    }
                },
                responsiveLevels: [4096, 1024, 767, 480],
                gridwidth: 1230,
                gridheight: 720
            });

            $("#LoaderSpinner").hide(0);
        }); /*ready*/
    </script>
}