@using BamboPortal_V1._0._0._0.Models.CustomerSide
@model List<FactorPopUpModel>
@{
    ViewBag.Title = "factor";
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";
}

@if (Model.Count == 0)
{
    <div class="container cart mar-bot-30" style="padding-bottom: 30px;">
        <div class="row">
            <div class="col-sm-12 mar-top-100 mar-bot-50"></div>
            <div class="col-md-12">
                <h4>
                    <i class="fa fa-chevron-left tshfatrtry3"></i>
                    موردی یافت نشد
                </h4>
            </div>
        </div>
    </div>
                }



                @foreach (var item in Model)
                {
                    if (item.Done == 1)
                    {

                        <div class="container cart mar-bot-30" style="padding-bottom: 30px;">
                            <div class="row">
                                <div class="col-sm-12 mar-top-100 mar-bot-50"></div>
                                <div class="col-md-12">
                                    <h4>
                                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                                        فاکتور خرید
                                    </h4>
                                    <div class="table-responsive cart-responsive">
                                        <table class="table table-condensed table-cart">
                                            <tr>
                                                <th>نام محصول</th>
                                                <th>قیمت</th>
                                                <th>مقدار</th>
                                                <th>قیمت نهایی</th>
                                            </tr>
                                            <tbody class="tbdy">
                                                @if (item.itemNumbers != 0)
                                                {
                                                    foreach (var item2 in item.items)
                                                    {
                                                        <tr>
                                                            <td class="cart-item-details tableGray">
                                                                <div class="cart-item">
                                                                    <a class="item thumbnail" style="float: right" href="#"><img alt="image" src="@item2.ImagePath"></a>
                                                                    <div class="cart-item-container" style="text-align: right">
                                                                        <p class="cart-item-name"><a href="#">@item2.Title</a></p>
                                                                        <p class="cart-item-size">@item2.property</p>

                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="cart-item-price tblWhite first-price">
                                                                <span class="price" data-price="@item2.PricePerQ">@item2.PricePerQ</span>
                                                            </td>
                                                            <td class="cart-item-quantity tableGray">
                                                                <div>
                                                                    <input type='text' name='quantity1' value='@item2.number' class='qty' readonly="" />
                                                                    <p>متر</p>
                                                                </div>
                                                            </td>
                                                            <td class="cart-item-price tblWhite last-price">
                                                                <span class="price total-items">@item2.PriceOff</span>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 mar-top-50 review-cart-block">
                                    <h5 class="review-cart-heading factor-success">
                                        <span class="blocked">پرداخت موفق</span>
                                    </h5>
                                    <div class="cart-review">
                                        <div class="inner row">
                                            <div class="col-md-6 col-xs-6 text-left no-padding-right">
                                                <div class="rows sub-total price total-price-bottom">@item.totality</div>
                                                <div class="rows sub-total price shipping-price-bottom"></div>
                                                <div class="rows sub-total price off-price-bottom">0</div>
                                                <div class="rows sub-total price cart-total">@item.Deposit</div>
                                            </div>
                                            <div class="col-xs-6 text-right no-padding-left cart-bottom">
                                                <div class="rows">مجموع</div>
                                                <div class="rows">حمل و نقل</div>
                                                <div class="rows">میزان تخفیف</div>
                                                <div class="rows">مبلغ قابل پرداخت</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mar-top-50">
                                    <h5 class="review-cart-heading ">
                                        <span class="blocked">اطلاعات</span>
                                    </h5>
                                    <div class="cart-review">
                                        <div class="inner row">
                                            <div class="col-md-6 col-xs-6 text-left no-padding-right">
                                                <div class="rows sub-total text-success total-price-bottom">@item.PaymentToken</div>
                                                <div class="rows sub-total off-price-bottom">@item.PaymentSerial</div>
                                                <div class="rows sub-total shipping-price-bottom tshdirltr">@item.Date</div>
                                                <div class="rows sub-total cart-total">زرین پال</div>
                                            </div>
                                            <div class="col-xs-6 text-right no-padding-left cart-bottom">
                                                <div class="rows text-success">کد پیگیری</div>
                                                <div class="rows">شماره سفارش</div>
                                                <div class="rows">زمان</div>
                                                <div class="rows">درگاه</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="colored-extend" style="margin: -2.2px auto 0px;"></div>

                        <div class="clearfix"></div>
                    }
                    else
                    {
                        <div class="container cart" style="padding-bottom: 30px;">
                            <div class="row">
                                <div class="col-sm-12 mar-bot-50"></div>
                                <div class="col-md-12">
                                    <h4>
                                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                                        فاکتور خرید
                                    </h4>
                                    <div class="table-responsive cart-responsive">
                                        <table class="table table-condensed table-cart">
                                            <tr>
                                                <th>نام محصول</th>
                                                <th>قیمت</th>
                                                <th>مقدار</th>
                                                <th>قیمت نهایی</th>
                                            </tr>
                                            <tbody class="tbdy">
                                                @foreach (var item2 in item.items)
                                                {
                                                    <tr>
                                                        <td class="cart-item-details tableGray">
                                                            <div class="cart-item">
                                                                <a class="item thumbnail" style="float: right" href="#"><img alt="image" src="@item2.ImagePath"></a>
                                                                <div class="cart-item-container" style="text-align: right">
                                                                    <p class="cart-item-name"><a href="#">@item2.Title</a></p>
                                                                    <p class="cart-item-size">@item2.property</p>

                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="cart-item-price tblWhite first-price">
                                                            <span class="price" data-price="@item2.PricePerQ">@item2.PricePerQ</span>
                                                        </td>
                                                        <td class="cart-item-quantity tableGray">
                                                            <div>
                                                                <input type='text' name='quantity1' value='@item2.number' class='qty' readonly="" />
                                                                <p>متر</p>
                                                            </div>
                                                        </td>
                                                        <td class="cart-item-price tblWhite last-price">
                                                            <span class="price total-items">@item2.PriceOff</span>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 mar-top-50 review-cart-block">
                                    <h5 class="review-cart-heading factor-danger">
                                        <span class="blocked">پرداخت ناموفق</span>
                                    </h5>
                                    <div class="cart-review">
                                        <div class="inner row">
                                            <div class="col-md-6 col-xs-6 text-left no-padding-right">
                                                <div class="rows sub-total price total-price-bottom">@item.totality</div>
                                                <div class="rows sub-total price shipping-price-bottom"></div>
                                                <div class="rows sub-total price off-price-bottom">0</div>
                                                <div class="rows sub-total price cart-total">@item.Deposit</div>
                                            </div>
                                            <div class="col-xs-6 text-right no-padding-left cart-bottom">
                                                <div class="rows">مجموع</div>
                                                <div class="rows">حمل و نقل</div>
                                                <div class="rows">میزان تخفیف</div>
                                                <div class="rows">مبلغ قابل پرداخت</div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                                                <button class="btn btn-success" style="display: block;width: 100%;">پرداخت</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mar-top-50">
                                    <h5 class="review-cart-heading ">
                                        <span class="blocked">اطلاعات</span>
                                    </h5>
                                    <div class="cart-review">
                                        <div class="inner row">
                                            <div class="col-md-6 col-xs-6 text-left no-padding-right">
                                                <div class="rows sub-total text-success total-price-bottom">@item.PaymentToken</div>
                                                <div class="rows sub-total off-price-bottom">@item.PaymentSerial</div>
                                                <div class="rows sub-total shipping-price-bottom tshdirltr">@item.Date</div>
                                                <div class="rows sub-total cart-total">زرین پال</div>
                                            </div>
                                            <div class="col-xs-6 text-right no-padding-left cart-bottom">
                                                <div class="rows">کد پیگیری</div>
                                                <div class="rows">شماره سفارش</div>
                                                <div class="rows">زمان</div>
                                                <div class="rows">درگاه</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="colored-extend" style="margin: -2.2px auto 0px;"></div>

                        <div class="clearfix"></div>

                    }
                }




                <script>
                    var revapi;
                    jQuery(document).ready(function () {
                        setInterval(function () {
                            $('.owl-prev').trigger('click');
                        }, 3000);


                        revapi = jQuery("#rev_slider_1").revolution({
                            sliderType: "standard",
                            sliderLayout: "fullscreen",
                            fullScreenOffsetContainer: ".navigation",
                            delay: 9000,
                            navigation: {
                                keyboardNavigation: "off",
                                mouseScrollNavigation: "on",
                                onHoverStop: "off",
                                touch: {
                                    touchenabled: "on",
                                    swipe_threshold: 75,
                                    swipe_min_touches: 1,
                                    swipe_direction: "horizontal",
                                    drag_block_vertical: false
                                },
                                bullets: {
                                    enable: true,
                                    rtl: true,
                                    hide_onmobile: false,
                                    style: "hebe",
                                    hide_onleave: false,
                                    direction: "horizontal",
                                    h_align: "center",
                                    v_align: "bottom",
                                    h_offset: 0,
                                    v_offset: 10,
                                    space: 5,
                                    tmp: '<span class="tp-bullet-inner"></span>'
                                }
                            },
                            responsiveLevels: [4096, 1024, 767, 480],
                            gridwidth: 1230,
                            gridheight: 720
                        });

                        $("#LoaderSpinner").hide(0);
                    }); /*ready*/
                </script>


