@model BamboPortal_V1._0._0._0.ModelViews.CustomerSide.ProductDetail_ModelView
@{
    ViewBag.Title = "productpage";
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";
}

<div class="container ppres" style="padding-top: 80px;">

    <div class="row vertical-center-box">
        <div class="col-md-12 no-padding">
            <div id="shop-carousel" class="carousel slide no-margin col-md-6" data-ride="carousel" style="float: right">
                <div class="carousel-inner text-light">
                    <span id="OffVal" class="label label-tags OffsellingObject tshdirltr" style="display:none"></span>
                    @if (Model.ProductModel.org_Pictures.Count == 0)
                    {
                        <div class="item active">
                            <a href="CustomerSide_desinerResource/images/shop/imgNotFount.jpg" data-lightbox-gallery="gallery-shop">
                                <img alt="image" class="img-responsive center-block" src="CustomerSide_desinerResource/images/shop/imgNotFount.jpg" onerror="this.onerror=null;this.src='/CustomerSide_desinerResource/images/shop/imgNotFount.jpg'">
                            </a>
                        </div>
                    }
                    else
                    {
                        for (int i = 0; i < Model.ProductModel.org_Pictures.Count; i++)
                        {
                            if (i == 0)
                            {
                                <div class="item active">
                                    <a href="@Model.ProductModel.org_Pictures[i]" data-lightbox-gallery="gallery-shop">
                                        <img alt="image" class="img-responsive center-block" src="@Model.ProductModel.org_Pictures[i]" onerror="this.onerror=null;this.src='/CustomerSide_desinerResource/images/shop/imgNotFount.jpg'">
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <a href="@Model.ProductModel.org_Pictures[i]" data-lightbox-gallery="gallery-shop">
                                        <img alt="image" class="img-responsive center-block" src="@Model.ProductModel.org_Pictures[i]" onerror="this.onerror=null;this.src='/CustomerSide_desinerResource/images/shop/imgNotFount.jpg'">
                                    </a>
                                </div>
                            }
                        }
                    }
                    <!--<a class="left carousel-control single-prd-btn" href="#shop-carousel" role="button" data-slide="next">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="right carousel-control single-prd-btn" href="#shop-carousel" role="button" data-slide="prev">
        <i class="fa fa-angle-right"></i>
    </a>-->
                </div>
                <ul class="shop-thumbnails mar-bot-30">
                    @foreach (var item in Model.ProductModel.Thumpnamil_Pictures)
                    {
                        if (item == Model.ProductModel.Thumpnamil_Pictures.First())
                        {
                            <li>
                                <div data-target="#shop-carousel" data-slide-to="0">
                                    <a href="#" class="thumb thumb-active">
                                        <img alt="image" class="img-responsive" src="@item" onerror="this.onerror=null;this.src='/CustomerSide_desinerResource/images/shop/imgNotFount.jpg'">
                                    </a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <div data-target="#shop-carousel" data-slide-to="1">
                                    <a href="#" class="thumb">
                                        <img alt="image" class="img-responsive" src="@item" onerror="this.onerror=null;this.src='/CustomerSide_desinerResource/images/shop/imgNotFount.jpg'">
                                    </a>
                                </div>
                            </li>
                        }
                    }

                </ul>
            </div>
            <input style="display:none" id="idp" value="0" />
            <section class="section-colored theme-background-light clearfix no-margin col-md-6" style="padding-bottom: 0px; padding-top: 40px;float: left;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-uppercase no-margin pad-bot-30 letter-spacing-1">
                                <strong>
                                    -
                                    @Model.ProductModel.Title
                                </strong>
                            </h4>
                            <span class="desc-title pad-right-15 pad-left-15">
                                <i class="fa fa-chevron-left tshfatrtry3"></i>
                                توضیحات
                            </span>
                            <div class="tab-theme">
                                <div class="tab-content">
                                    <div id="tab1" class="tab-pane active no-padding-bottom prd-dtl-p0">
                                        <p class="pad-right-15 pad-left-15 mar-bot-30 text-justify">
                                            <small>
                                                @Model.ProductModel.Discription
                                            </small>
                                        </p>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">

                                            @foreach (var item in Model.ProductModel.MPC_Options)
                                            {


                                                <div class="select-option col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <span class="desc-title title-no-border">
                                                        <i class="fa fa-chevron-left tshfatrtry3"></i>
                                                        @item.NameSub
                                                    </span>
                                                    <div class="custom-select" style="width:200px;">
                                                        <select id="exampleSelect2-@item.Id" class="PandaSelect123">
                                                            <option value="0">انتخاب @item.NameSub</option>

                                                            @foreach (var item2 in item.Subs)
                                                            {
                                                                <option value="@item2.Id">@item2.NameSub</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>

                                            }

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <input type='button' value='-' class='qtyminus btn shcqm' title='quantity1' onclick="return CheckChanges()" />
                                            <input id="Number_inp" type='text' name='quantity1' value='1' class='qty' readonly="" />
                                            <input type='button' value='+' class='qtyplus btn shcqp' title='quantity1' onclick="return CheckChanges()" />
                                            <p>متر</p>
                                        </div>



                                        <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12">

                                            @if (Model.ProductModel.PriceShowType == 1)
                                            {
                                                <div class="text-left tshspbb col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                    <span id="PriceShow1" class="price price-title" style="margin-top: 6px!important;">@Model.ProductModel.PricePerQ</span>
                                                </div>
                                                <div style="display:none;" class="tshspbb-right tshspbb-right-off col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    @*<span class="price tshtdlt price-title mar-top-15" style="margin: 0!important;">5,000,000</span>*@
                                                    <span id="PriceShow2" class="price price-title" style="margin: 0!important;">@Model.ProductModel.PricePerQ</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="text-left tshspbb col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                    <span id="PriceShow1" class="price price-title" style="margin-top: 6px!important;">@Model.ProductModel.PriceXQ</span>
                                                </div>
                                                <div class="tshspbb-right tshspbb-right-off col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    @*<span class="price tshtdlt price-title mar-top-15" style="margin: 0!important;">5,000,000</span>*@
                                                    <span id="PriceShow2" class="price price-title" style="margin: 0!important;">@Model.ProductModel.PriceXQ</span>
                                                </div>
                                            }

                                            <div class="tshspbb-left add-cart-btn col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <button onclick="return AddToBasket(this)" class="btn btn-success btn-lg">
                                                    <i class="fa fa-shopping-cart" style="margin-left: 2px;"></i>
                                                    افزودن به سبد خرید
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 class="text-uppercase letter-spacing-1 no-margin col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <strong>
                    <i class="fa fa-chevron-left tshfatrtry3"></i>
                    مشخصات محصول
                </strong>
            </h4>
            <table class="table table-hover prod-det shop-table text-uppercase letter-spacing-1 mar-top-30 mar-bot-30 weight-400">
                @foreach (var item in Model.ProductModel.Options)
                {
                    <tr class="shop-first-row">
                        <td><small>@item.Key</small></td>
                        <td><small>@item.Value</small></td>
                    </tr>
                }

            </table>
        </div>
    </div>

    <div class="container">
        <div class="row pad-top-100 cupt50">
            <div class="col-md-12 text-center" style="margin-bottom: 25px;">
                <h2 class="no-margin tshbb pad-bot-15 text-uppercase tshbb1b">پرفروش ترین محصولات</h2>
                <!--<h5 class="no-margin text-lighter"><i>Velvet Textile Gallery</i></h5>-->
            </div>
        </div>
        <div class="row product pad-bot-50">
            @foreach (var item in Model.Sale_Products)
            {
                <div class="col-sm-3">
                    <div class="product-thumbnail">
                        <div class="product-image">
                            <img alt="image" class="img-responsive" src="@item.PicPath" onerror="this.onerror=null;this.src='/CustomerSide_desinerResource/images/shop/imgNotFount.jpg'">
                            <div class="thumbnail-btns">
                                <a class="btn btn-lg btn-theme-inverse" href="product-single.html"><i class="pe-7s-glasses pe-2x"></i></a>
                                <a class="btn btn-lg btn-theme-inverse" href="@Url.Action("productpage","CustomerSide_Product",new { ProId=item.Id})"><i class="icon-basket"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h3 class="text-darker"><a href="#"><small>@item.Title</small></a></h3>
                        @if (item.offType == 1 || item.offType == 0)
                        {
                            if (item.PriceShowType == 1)
                            {
                                <h6 class="price">@item.PricePerQ</h6>
                            }
                            else
                            {
                                <h6 class="price">@item.PriceXQ</h6>
                            }

                        }
                        else
                        {
                            if (item.PriceShowType == 1)
                            {
                                <h6 class="price tshtdlt">@item.PricePerQ</h6>
                                <h6 class="price">@item.OffPrice</h6>
                            }
                            else
                            {
                                <h6 class="price tshtdlt">@item.PriceXQ</h6>
                                <h6 class="price">@item.OffPrice</h6>
                            }

                        }
                    </div>
                </div>
            }

        </div>
    </div>

</div>








@section CS_Scripts {





    <script>

        var MPCs;
        $(document).ready(function () {
             PostJson = {
                'id': @Model.ProductModel.Id
            };
            $.ajax({
                url: '/CustomerSide_Product/GetMPCs',
                type: "post",
                data: JSON.stringify(PostJson),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    MPCs = response;
                    console.log(MPCs);
                    CheckChanges();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        });

        function Changeee() {
            alert("Helloooooo");
            return false;
        }

        function CheckChangesSS() {
            alert("change");
            return false;
        }


        //H love programming



        function CheckChanges() {
            console.log("hellow");
        var json = '{';
        var otArr = [];
        $('.PandaSelect123').each(function (e, obj) {
            var idSelected = obj.id.replace("exampleSelect2-", "");
            var ids = $('#exampleSelect2-' + idSelected+' option:selected').val();
            if (idSelected != "") {
                otArr.push('"' + idSelected + '":' + ids);
            }
        });
        json += otArr.join(",") + '}';

        $(MPCs).each(function (e, obj) {
            if (obj.JsonProperty == json) {

                //if (obj.PriceXQ != obj.PriceOff) {
                //    $('#off_price_div').text(obj.PriceXQ);
                //} else {
                //    $('#off_price_div').text("");
                //}


                if ($('#Number_inp').val() >= obj.MultyPriceStartFromQ && obj.HAsMultiPrice == 1) {
                    $("#idp").val(obj.Id);
                    $('OffVal').show();
                    $('OffVal').text("قیمت عمده");
                    if (obj.PriceShowType == 1) {
                        $('#PriceShow1').text(obj.MultyPrice);
                        $('#PriceShow2').text(obj.MultyPrice);
                    } else {
                        $('#PriceShow1').text(obj.MultyPriceXQ);
                        $('#PriceShow2').text(obj.MultyPriceXQ);
                    }

                } else {
                    $("#idp").val(obj.Id);
                    $('OffVal').hide();
                     if (obj.PriceShowType == 1) {
                        $('#PriceShow1').text(obj.PricePerQ);
                        $('#PriceShow2').text(obj.PricePerQ);
                    } else {
                        $('#PriceShow1').text(obj.PriceXQ);
                        $('#PriceShow2').text(obj.PriceXQ);
                    }
                }
            }

        });


    }

            ///////////////////////////



            setInterval(function () {
                $('.owl-prev').trigger('click');
            }, 3000);


        var x, i, j, selElmnt, a, b, c;
        x = document.getElementsByClassName("custom-select");
        for (i = 0; i < x.length; i++) {
            selElmnt = x[i].getElementsByTagName("select")[0];
            a = document.createElement("DIV");
            a.setAttribute("class", "select-selected");
            a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
            x[i].appendChild(a);
            b = document.createElement("DIV");
            b.setAttribute("class", "select-items select-hide");
            for (j = 1; j < selElmnt.length; j++) {
                c = document.createElement("DIV");
                c.innerHTML = selElmnt.options[j].innerHTML;
                c.addEventListener("click", function (e) {
                    var y, i, k, s, h;
                    s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                    h = this.parentNode.previousSibling;
                    for (i = 0; i < s.length; i++) {
                        if (s.options[i].innerHTML == this.innerHTML) {
                            s.selectedIndex = i;
                            h.innerHTML = this.innerHTML;
                            y = this.parentNode.getElementsByClassName("same-as-selected");
                            for (k = 0; k < y.length; k++) {
                                y[k].removeAttribute("class");
                            }
                            this.setAttribute("class", "same-as-selected");
                            break;
                        }
                    }
                    h.click();
                    CheckChanges();
                });
                b.appendChild(c);
            }
            x[i].appendChild(b);
            a.addEventListener("click", function (e) {
                e.stopPropagation();
                closeAllSelect(this);
                this.nextSibling.classList.toggle("select-hide");
                this.classList.toggle("select-arrow-active");
            });
        }
        function closeAllSelect(elmnt) {
            var x, y, i, arrNo = [];
            x = document.getElementsByClassName("select-items");
            y = document.getElementsByClassName("select-selected");
            for (i = 0; i < y.length; i++) {
                if (elmnt == y[i]) {
                    arrNo.push(i)
                } else {
                    y[i].classList.remove("select-arrow-active");
                }
            }
            for (i = 0; i < x.length; i++) {
                if (arrNo.indexOf(i)) {
                    x[i].classList.add("select-hide");
                }
            }
        }
        document.addEventListener("click", closeAllSelect);
    </script>

}