@using BamboPortal_V1._0._0._0.ModelViews.CustomerSide
@{
    ViewBag.Title = "CustomerMaster";


}

<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <title>آفرا - قالب شرکتی و آژانسی چند منظوره</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,300,500,600,700&amp;display=swap">
    @Styles.Render("~/assets/Afra.css")
</head>
<body>
    <input id="AddressPicLogoDark" value="@Url.Content("~/CustomerSide_desinerResource/assets/images/logo/logo-dark.png")" style="display: none" />
    <input id="AddressPicLogoLight" value="@Url.Content("~/CustomerSide_desinerResource/assets/images/logo/logo-light.png")" style="display: none" />

    <header class="site-header sticky-header">
        <div class="container">
            <nav class="main-bar">
                <div class="logo">
                    <a href="@Url.Action("Index", "CustomerSide_Pages")">
                        <img src="@Url.Content("~/CustomerSide_desinerResource/assets/images/logo/logo-light.png")" alt="MCDM-Solver,MCDMSolver" />
                    </a>
                </div>
                <button class="button button-open-sidenav">
                    <span></span>
                </button>
                <ul class="menu">
                    <li>
                        <a href="@Url.Action("Index", "CustomerSide_Pages")">صفحه اصلی</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Blog","CustomerSide_Blog",new {Cat="گروه بندی",Id=1 })">نرم افزار</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Blog","CustomerSide_Blog",new {Cat="گروه بندی",Id=3 })">آموزش</a>
                    </li>
                    <li>
                        <a href="@Url.Action("AboutUs", "CustomerSide_Pages")">درباره ما</a>
                    </li>
                    <li>
                        <a href="@Url.Action("ContactUs", "CustomerSide_Pages")">تماس با ما</a>
                    </li>
                    <li>
                        <a href="#">تمامی دسته بندی ها</a>
                        <ul class="mega-menu">
                            @{ Html.RenderAction("AfraMaterPostsTypes", "CustomerSide_Pages"); }

                        </ul>
                    </li>
                    <li class="login-register">
                        <a href="@Url.Action("LoginAndRegister", "CustomerSide_Register")"><span>ورود / عضویت</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--====================================================================
                                End Header
    ====================================================================-->
    <!--====================================================================
                                Start Responsive Header
    ====================================================================-->
    <div class="site-sidenav">
        <div class="sidenav-menu">
            <div class="logo">
                <img src="@Url.Content("~/CustomerSide_desinerResource/assets/images/logo/logo-dark.png")" alt="MCDM-Solver,MCDMSolver">
            </div>
            <button class="button button-circle button-close-sidenav"></button>
            <ul class="menu">
                <li class="">
                    <a href="@Url.Action("Index", "CustomerSide_Pages")">
                        صفحه اصلی

                    </a>

                </li>
                <li>
                    <a href="@Url.Action("Blog","CustomerSide_Blog",new {Cat="گروه بندی",Id=1 })">نرم افزار</a>
                </li>
                <li>
                    <a href="@Url.Action("Blog","CustomerSide_Blog",new {Cat="گروه بندی",Id=3 })">آموزش</a>
                </li>
                <li>
                    <a href="@Url.Action("AboutUs", "CustomerSide_Pages")">درباره ما</a>
                </li>
                <li>
                    <a href="@Url.Action("ContactUs", "CustomerSide_Pages")">تماس با ما</a>
                </li>
                <li class="has-menu">
                    <a href="#">
                        تمامی دسته بندی ها
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    <ul class="mega-menu">
                        @{ Html.RenderAction("AfraMaterPostsTypes", "CustomerSide_Pages"); }
                    </ul>
                </li>
                <li class="login-register2">
                    <a href="@Url.Action("LoginAndRegister", "CustomerSide_Register")"><span>ورود / عضویت</span></a>
                </li>

            </ul>

        </div>
    </div>
    <!--====================================================================
                                End Responsive Header
    ====================================================================-->
    @RenderBody()
    <!--====================================================================
                                Start Footer
    ====================================================================-->
    <footer class="site-footer overlay-image overlay-color" style="background-image: url(assets/images/footer.jpg)">
        <span class="bg-color bg-dark-80"></span>
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="widget">
                            <div class="widget-head">
                                <h4 class="widget-title">درباره ما</h4>
                                <div class="divider divider-line"></div>
                            </div>
                            <div class="widget-body">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                <ul class="footer-social-links">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                        <div class="widget">
                            <div class="widget-head">
                                <h4 class="widget-title">تماس با ما</h4>
                                <div class="divider divider-line"></div>
                            </div>
                            <div class="widget-body">
                                <ul class="footer-link">
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        info@afracodestudio.com
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        support@afracodestudio.com
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        777-555-2222
                                    </li>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        888-444-2222
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4">
                        <div class="widget">
                            <div class="widget-head">
                                <h4 class="widget-title">خبرنامه</h4>
                                <div class="divider divider-line"></div>
                            </div>
                            <div class="widget-body">
                                <p>با عضویت در خبرنامه ما از جدید ترین اخبار سایت مطلع شوید.</p>
                                <div class="form-item">
                                    <i class="fa fa-envelope"></i>
                                    <input type="text" class="input" placeholder="وارد کردن ایمیل">
                                    <button type="submit" class="button button-circle button-primary">
                                        <i class="fa fa-send"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p class="copyright">© 1398 تمامی حقوق محفوظ شده است (بومی سازی توسط جعفر عباسی)</p>
        </div>
    </footer>
    <!--====================================================================
                                End Footer
    ====================================================================-->
    <!--====================================================================
                                Start Scroll To Up
    ====================================================================-->
    <div class="scroll-up">
        <i class="fa fa-angle-up"></i>
    </div>
    <!--====================================================================
                                End Scroll To Up
    ====================================================================-->
    @Scripts.Render("~/bundles/Afra.js")
    @RenderSection("CS_Scripts", required: false)
</body>


</html>


