@model BamboPortal_V1._0._0._0.ModelViews.CustomerSide.customerAddressModelView
@{
    ViewBag.Title = "customerProfileAddress";
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";
}

<div class="container profile-bg" style="padding-top: 100px; margin-bottom: 100px;">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile-menu" style="float: right">
        <h4>منو</h4>
        <ul>
            <li>
                <a href="@Url.Action("customerProfile","CustomerSide_CustomerProfile")">
                    اطلاعات حساب
                </a>
            </li>
            <li class="active">
                <a href=".">
                    آدرس
                </a>
            </li>
            <li>
                <a href="@Url.Action("customerProfileHistory","CustomerSide_CustomerProfile")">
                    تاریخچه خرید
                </a>
            </li>
            @*<li>
                <a href="@Url.Action("customerProfileReturn","CustomerSide_CustomerProfile")">
                    درخواست های مرجوعی
                </a>
            </li>
            <li>
                <a href="@Url.Action("customerProfileSettings","CustomerSide_CustomerProfile")">
                    تنظیمات
                </a>
            </li>*@
        </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 profile-content" style="float: left">
        <h4>آدرس</h4>
        <h5 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title-h5">
            <i class="fa fa-chevron-left tshfatrtry3"></i>
            آدرس ها
        </h5>

        @foreach (var item in Model.Addresses)
        {
            <div class="form-theme form-grey">
                <div class="form-group pad-bot-15 col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <label for="pcode" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">کد پستی</label>
                    <label type="number" class="form-control" name="pcode" id="pcode">@item.HintAddress</label>
                </div>
                <div class="form-group pad-bot-15 col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <label for="address" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">آدرس کامل</label>
                    <label class="form-control"><font size="-20" class="text-muted">@item.City - </font> @item.FullAddress </label>
                </div>
            </div>
        }

        <h5 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title-h5">
            <i class="fa fa-chevron-left tshfatrtry3"></i>
            افزودن آدرس
        </h5>
        <div class="form-theme form-grey">
            <form action="" method="post" autocomplete="off" id="account-form3">
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="province" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">استان</label>
                    <select class="custom-select-profile" name="province" id="province" onchange="return CityChange()">
                        <option value="">انتخاب کنید</option>
                        @foreach (var item in Model.City)
                        {
                            <option value="@item.Id">@item.Value</option>
                        }

                    </select>
                </div>
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="city" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">شهر</label>
                    <select disabled class="custom-select-profile" name="city" id="city">
                        <option value="">انتخاب کنید</option>
                        <option value="1">تهران</option>
                        <option value="2">تهران</option>
                        <option value="3">تهران</option>
                        <option value="4">تهران</option>
                    </select>
                </div>

                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="pcode" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">کد پستی</label>
                    <input type="number" class="form-control" name="pcode" id="CodePosti">
                </div>
                <div class="form-group pad-bot-15 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label for="address" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">آدرس کامل</label>
                    <textarea class="form-control" name="address" id="address"></textarea>
                </div>
                <div class="form-group pad-bot-15 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="button" class="btn btn-success form-submit reg-submit" value="ذخیره" onclick="return SaveData_CustomerAddress()">
                </div>
            </form>
        </div>
    </div>
</div>


@section CS_Scripts {
    <script>


        function CityChange() {
           // console.log("dasdsad");
            var Id = $('#province').val();
            //alert(Id);
            $('#city').prop("disabled", false);
            const PostJson = {
                'OstanId': Id
            };

            $.ajax({
                url: '/AdministratorCustomers/City',
                type: "post",
                data: JSON.stringify(PostJson),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                   // alert("done");
                    var token = response;
                    var s = "<option value=0 selected >انتخاب کنید</option>";
                    for (var i = 0; i < token.length; i++) {
                        s += "<option value=" + token[i].Id + ">" + token[i].Value + "</option>";
                    }

                    document.getElementById('city').innerHTML = s;

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("مشکل در برقراری ارتباط با سرور");
                }
            });
            return false;

        }

        function SaveData_CustomerAddress() {
            //alert("Hello");
            var CityId = $('#city').val();
            console.log(CityId);
            var FullAddress = $('#address').val();
            console.log(FullAddress);
            var CodePosti = $('#CodePosti').val();
            console.log(CodePosti);
            if (FullAddress != '' && CodePosti !='')
            {
                const PostJson = {
                    'CityId': CityId,
                    'FullAddress': FullAddress,
                    'CodePosti': CodePosti
                };

                $.ajax({
                    url: '/CustomerSide_CustomerProfile/AddCustomerAddress',
                    type: "post",
                    data: JSON.stringify(PostJson),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                       // alert("done");
                        location.reload(true);

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("مشکل در برقراری ارتباط با سرور");
                    }
                });


            }

            return false;
        }


        jQuery(document).ready(function () {
            setInterval(function () {
                $('.owl-prev').trigger('click');
            }, 3000);

            revapi = jQuery("#rev_slider_1").revolution({
                sliderType: "standard",
                sliderLayout: "fullscreen",
                fullScreenOffsetContainer: ".navigation",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    mouseScrollNavigation: "on",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    bullets: {
                        enable: true,
                        rtl: true,
                        hide_onmobile: false,
                        style: "hebe",
                        hide_onleave: false,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 10,
                        space: 5,
                        tmp: '<span class="tp-bullet-inner"></span>'
                    }
                },
                responsiveLevels: [4096, 1024, 767, 480],
                gridwidth: 1230,
                gridheight: 720
            });

            $("#LoaderSpinner").hide(0);
        }); /*ready*/

    </script>
    @Scripts.Render("~/bundles/CustomerSideUserProfile.js")
    @*@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/CustomerSideUserProfile.js")*@
}