@model BamboPortal_V1._0._0._0.Models.CustomerSide.CustomerDetail
@{
    ViewBag.Title = "customerProfile";
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";
}

<div class="container profile-bg" style="padding-top: 100px; margin-bottom: 100px;">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile-menu" style="float: right">
        <h4>منو</h4>
        <ul>
            <li class="active">
                <a href=".">
                    اطلاعات حساب
                </a>
            </li>
            <li>
                <a href="@Url.Action("customerProfileAddress","CustomerSide_CustomerProfile")">
                    آدرس
                </a>
            </li>
            <li>
                <a href="@Url.Action("customerProfileHistory","CustomerSide_CustomerProfile")">
                    تاریخچه خرید
                </a>
            </li>
            @*<li>
                <a href="@Url.Action("customerProfileReturn","CustomerSide_CustomerProfile")">
                    درخواست های مرجوعی
                </a>
            </li>
            <li>
                <a href="@Url.Action("customerProfileSettings","CustomerSide_CustomerProfile")">
                    تنظیمات
                </a>
            </li>*@
        </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 profile-content" style="float: left">
        <h4>اطلاعات حساب</h4>
        <h5 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title-h5">
            <i class="fa fa-chevron-left tshfatrtry3"></i>
            تغییر اطلاعات حساب
        </h5>
        <div class="form-theme form-grey">
            <form action="" method="post" autocomplete="off" id="account-form">
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="firstname" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">نام<i class="icon-profile-male text-right tsh-icon" style="float: left;"></i></label>
                    <input type="text" class="form-control" name="firstname" id="firstname" value="@Model.Name">
                </div>
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="lastname" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">نام خانوادگی<i class="icon-profile-male text-right tsh-icon" style="float: left;"></i></label>
                    <input type="text" class="form-control" name="lastname" id="lastname" value="@Model.Familly">
                </div>
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="mobile" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">شماره موبایل<i class="icon-phone text-right tsh-icon" style="float: left;"></i></label>
                    <input type="number" class="form-control" name="mobile" id="mobile" value="@Model.PhoneNum">
                </div>
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="email" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">ایمیل<i class="icon-envelope text-right tsh-icon" style="float: left;"></i></label>
                    <input type="text" class="form-control" name="email" id="email" value="@Model.Email">
                </div>
                <div class="form-group pad-bot-15 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="button" class="btn btn-success form-submit reg-submit" value="ذخیره" onclick="return SaveData_CustomerData()">
                </div>
            </form>
        </div>
        <h5 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 title-h5">
            <i class="fa fa-chevron-left tshfatrtry3"></i>
            تغییر کلمه عبور
        </h5>
        <div class="form-theme form-grey">
            <form action="" method="post" autocomplete="off" id="account-form2">
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="password" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">کلمه عبور قبلی<i class="icon-lock text-right tsh-icon" style="float: left;"></i></label>
                    <input type="password" class="form-control" name="password" id="password-pre">
                </div>
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="password" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;"> کلمه عبور جدید<i class="icon-lock text-right tsh-icon" style="float: left;"></i></label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class="form-group pad-bot-15 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label for="rpassword" class="control-label text-uppercase letter-spacing-3 pad-bot-5" style="width: 100%;letter-spacing: 0px !important;">تکرار کلمه عبور جدید<i class="icon-lock text-right tsh-icon" style="float: left;"></i></label>
                    <input type="password" class="form-control" name="rpassword" id="rpassword">
                </div>
                <div class="form-group pad-bot-15 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="button" class="btn btn-success form-submit reg-submit" value="ذخیره" onclick="return SaveData_CustomerPassword()">
                </div>
            </form>
        </div>
    </div>
</div>


@section CS_Scripts {
    <script>

         function SaveData_CustomerData() {
            //alert("Hello");
          
            var name = document.getElementById("firstname").value;
            var last = document.getElementById("lastname").value;
            var phone = document.getElementById("mobile").value;
            var email = document.getElementById("email").value;
            
          
            
            if (name != '' && last != '' && phone != '' && email != '')
            {
                const PostJson = {
                    'name': name,
                    'last': last,
                    'phone': phone,
                    'email': email
                };

                $.ajax({
                    url: '/CustomerSide_CustomerProfile/UpdateCustomerData',
                    type: "post",
                    data: JSON.stringify(PostJson),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                       // alert("done");
                        location.reload(true);

                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("مشکل در برقراری ارتباط با سرور");
                    }
                });


            }

            return false;
        }



          function SaveData_CustomerPassword() {
            //alert("Hello");
          
            var PrePass = document.getElementById("password-pre").value;
            var Pess1 = document.getElementById("password").value;
            var Pass2 = document.getElementById("rpassword").value;
            
            
          
            
              if (PrePass != '' && Pess1 != '' && Pass2 != '' ) {


                  if (Pess1 == Pass2) {
                      const PostJson = {
                          'PrePass': PrePass,
                          'Pass': Pess1
                      };

                      $.ajax({
                          url: '/CustomerSide_CustomerProfile/UpdateCustomerPass',
                          type: "post",
                          data: JSON.stringify(PostJson),
                          contentType: "application/json; charset=utf-8",
                          success: function (response) {
                             // alert(response);
                              if (response == "Success") {
                                  alert("کلمه ی عبور با موفقیت تغییر کرد");
                                  location.reload(true);
                              } else if (response=="pre_Pass") {
                                   alert("کلمه ی عبور اشتباه است .");
                              }

                          },
                          error: function (jqXHR, textStatus, errorThrown) {
                              alert("مشکل در برقراری ارتباط با سرور");
                          }
                      });
                  } else {
                      alert("مقدار کلمه ی عبور جدید و تکرار آن برابر نیست  ");
                  }

                  


              } else {
                  alert("لطفا همه ی مقادیر را پر کنید ");
              }

            return false;
        }





        var revapi;
        jQuery(document).ready(function () {
            setInterval(function () {
                $('.owl-prev').trigger('click');
            }, 3000);


            revapi = jQuery("#rev_slider_1").revolution({
                sliderType: "standard",
                sliderLayout: "fullscreen",
                fullScreenOffsetContainer: ".navigation",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    mouseScrollNavigation: "on",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    bullets: {
                        enable: true,
                        rtl: true,
                        hide_onmobile: false,
                        style: "hebe",
                        hide_onleave: false,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 10,
                        space: 5,
                        tmp: '<span class="tp-bullet-inner"></span>'
                    }
                },
                responsiveLevels: [4096, 1024, 767, 480],
                gridwidth: 1230,
                gridheight: 720
            });

            $("#LoaderSpinner").hide(0);
        }); /*ready*/
    </script>
    @Scripts.Render("~/bundles/CustomerSideUserProfile.js")
    @*@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/CustomerSideUserProfile.js")*@
}


