@model BamboPortal_V1._0._0._0.ModelViews.CustomerSide.CustomerHistory.historyProductItemsModelView
@{
    ViewBag.Title = "customerProfileHistory";
    Layout = "~/Views/SharedViewPages/CustomerSide/CustomerMaster.cshtml";
}

@*<div class="modal fade" id="mmodal" style="z-index: 999!important;background-color: rgba(0,0,0,.3)!important;">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="border: none!important;">
                <div class="modal-header" style="width: 100%;">
                    <h5 class="modal-title" id="modal-title" style="float: right;">درخواست مرجوعی</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="float: left;">
                        <span aria-hidden="true"><i class="fa fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    سفارش شماره
                    <span class="number"></span>
                    مرجوع شود؟
                </div>
                <div class="modal-footer" style="text-align: left">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-danger">تایید</button>
                </div>
            </div>
        </div>
    </div>*@
<div class="container profile-bg" style="padding-top: 100px; margin-bottom: 100px;">
    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile-menu" style="float: right">
        <h4>منو</h4>
        <ul>
            <li>
                <a href="@Url.Action("customerProfile","CustomerSide_CustomerProfile")">
                    اطلاعات حساب
                </a>
            </li>
            <li>
                <a href="@Url.Action("customerProfileAddress","CustomerSide_CustomerProfile")">
                    آدرس
                </a>
            </li>
            <li class="active">
                <a href=".">
                    تاریخچه خرید
                </a>
            </li>
            @*<li>
                    <a href="@Url.Action("customerProfileReturn","CustomerSide_CustomerProfile")">
                        درخواست های مرجوعی
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("customerProfileSettings","CustomerSide_CustomerProfile")">
                        تنظیمات
                    </a>
                </li>*@
        </ul>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 profile-content" style="float: left">
        <h4>تاریخچه خرید</h4>
        @foreach (var item in Model.History)
        {
            <div class="row history-item">
                <div class="col-md-12">
                    <div class="table-responsive cart-responsive">
                        <table class="table table-condensed table-cart">
                            <tr>
                                <th>نام محصول</th>
                                <th>قیمت</th>
                                <th>مقدار</th>
                                <th>قیمت نهایی</th>
                            </tr>
                            <tbody class="tbdy">
                                @foreach (var Titem in item.AllItems)
                                {
                                    <tr>
                                        <td class="cart-item-details tableGray">
                                            <div class="cart-item">
                                                <a class="item thumbnail" style="float: right" href="#"><img alt="image" src="@Titem.ImagePath"></a>
                                                <div class="cart-item-container" style="text-align: right">
                                                    <p class="cart-item-name"><a href="#">@Titem.ProductName</a></p>
                                                    <p class="cart-item-size">@Titem.scoknameandvalue</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="cart-item-price tblWhite first-price">
                                            <span class="price" data-price="@Titem.pricebperQ">@Titem.pricebperQ</span>
                                        </td>
                                        <td class="cart-item-quantity tableGray">
                                            <div>
                                                <input type='text' name='quantity1' value='@Titem.Countof' class='qty' readonly="" />
                                                <p>@Titem.ProductDimensionName</p>
                                            </div>
                                        </td>
                                        <td class="cart-item-price tblWhite last-price">
                                            <span class="price total-items">@Titem.TotalPrice</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                    @*<button class="btn btn-primary dmbutton" data-target="#mmodal" data-toggle="modal" data-number="1111111111">
                            درخواست مرجوعی
                        </button>*@
                    <button class="btn btn-success show-more">
                        نمایش جزئیات بیشتر
                    </button>
                </div>
                <div class="clearfix"></div>
                <div class="detail-grp">
                    <div class="col-md-6 mar-top-30 review-cart-block">
                        @if (item.Ispay == "1")
                        {


                            <h5 class="review-cart-heading factor-success">
                                <span class="blocked">پرداخت موفق</span>
                            </h5>
                            <div class="cart-review">
                                <div class="inner row">
                                    <div class="col-md-6 col-xs-6 text-left no-padding-right">
                                        <div class="rows sub-total price total-price-bottom">@String.Format("{0:n0}", item.TotalPrice)</div>
                                        <div class="rows sub-total price shipping-price-bottom">@String.Format("{0:n0}", item.TaxPrice)</div>
                                        <div class="rows sub-total price off-price-bottom">@String.Format("{0:n0}", item.OffPrice)</div>
                                        <div class="rows sub-total price cart-total">@String.Format("{0:n0}", item.PayPrice)</div>
                                    </div>
                                    <div class="col-xs-6 text-right no-padding-left cart-bottom">
                                        <div class="rows">مجموع</div>
                                        <div class="rows">حمل و نقل و مالیات</div>
                                        <div class="rows">میزان تخفیف</div>
                                        <div class="rows">مبلغ قابل پرداخت</div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <h5 class="review-cart-heading factor-danger">
                                <span class="blocked">پرداخت ناموفق</span>
                            </h5>
                            <div class="cart-review">
                                <div class="inner row">
                                    <div class="col-md-6 col-xs-6 text-left no-padding-right">
                                        <div class="rows sub-total price total-price-bottom">@String.Format("{0:n0}", item.TotalPrice)</div>
                                        <div class="rows sub-total price shipping-price-bottom">@String.Format("{0:n0}", item.TaxPrice)</div>
                                        <div class="rows sub-total price off-price-bottom">@String.Format("{0:n0}", item.OffPrice)</div>
                                        <div class="rows sub-total price cart-total">@String.Format("{0:n0}", item.PayPrice)</div>
                                    </div>
                                    <div class="col-xs-6 text-right no-padding-left cart-bottom">
                                        <div class="rows">مجموع</div>
                                        <div class="rows">حمل و نقل و مالیات</div>
                                        <div class="rows">میزان تخفیف</div>
                                        <div class="rows">مبلغ قابل پرداخت</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-6 mar-top-30">
                        <h5 class="review-cart-heading ">
                            <span class="blocked">اطلاعات</span>
                        </h5>
                        <div class="cart-review">
                            <div class="inner row">
                                <div class="col-md-6 col-xs-6 text-left no-padding-right">
                                    <div class="rows sub-total text-success total-price-bottom">@item.PeygiriCode</div>
                                    <div class="rows sub-total shipping-price-bottom tshdirltr">@item.WhenCreated</div>
                                    <div class="rows sub-total cart-total">@item.PayMentTypeName</div>
                                </div>
                                <div class="col-xs-6 text-right no-padding-left cart-bottom">
                                    <div class="rows text-success">کد پیگیری</div>
                                    <div class="rows">ساعت/تاریخ</div>
                                    <div class="rows">درگاه</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>













@*<div class="container profile-bg" style="padding-top: 100px; margin-bottom: 100px;">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile-menu" style="float: right">
            <h4>منو</h4>
            <ul>
                <li>
                    <a href="@Url.Action("customerProfile","VelvetCustomers")">
                        اطلاعات حساب
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("customerProfileAddress","VelvetCustomers")">
                        آدرس
                    </a>
                </li>
                <li class="active">
                    <a href=".">
                        تاریخچه خرید
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("customerProfileReturn","VelvetCustomers")">
                        درخواست های مرجوعی
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("customerProfileSettings","VelvetCustomers")">
                        تنظیمات
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 profile-content" style="float: left">
            <h4>تاریخچه خرید</h4>
            @foreach (var item in Model)
            {

                <div class="row history-item">
                    <div class="col-md-12">
                        <div class="table-responsive cart-responsive">
                            <table class="table table-condensed table-cart">
                                <tr>
                                    <th>نام محصول</th>
                                    <th>قیمت</th>
                                    <th>مقدار</th>
                                    <th>قیمت نهایی</th>
                                </tr>
                                <tbody class="tbdy">
                                    @if (item.itemNumbers != 0)
                                    {
                                        foreach (var item2 in item.items)
                                        {
                                            <tr>
                                                <td class="cart-item-details tableGray">
                                                    <div class="cart-item">
                                                        <a class="item thumbnail" style="float: right" href="#"><img alt="image" src="@item2.ImagePath"></a>
                                                        <div class="cart-item-container" style="text-align: right">
                                                            <p class="cart-item-name"><a href="#">@item2.Title</a></p>
                                                            <p class="cart-item-size">@item2.property</p>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="cart-item-price tblWhite first-price">
                                                    <span class="price" data-price="@item2.PricePerQ">@item2.PricePerQ</span>
                                                </td>
                                                <td class="cart-item-quantity tableGray">
                                                    <div>
                                                        <input type='text' name='quantity1' value='@item2.number' class='qty' readonly="" />
                                                        <p>متر</p>
                                                    </div>
                                                </td>
                                                <td class="cart-item-price tblWhite last-price">
                                                    <span class="price total-items">@item2.PriceOff</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left">
                        <button class="btn btn-primary dmbutton" data-target="#mmodal" data-toggle="modal" data-number="@item.PaymentSerial">
                            درخواست مرجوعی
                        </button>
                        <button class="btn btn-success show-more">
                            نمایش جزئیات بیشتر
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="detail-grp">
                        <div class="col-md-6 mar-top-30 review-cart-block">
                            <h5 class="review-cart-heading factor-success">
                                <span class="blocked">پرداخت موفق</span>
                            </h5>
                            <div class="cart-review">
                                <div class="inner row">
                                    <div class="col-md-6 col-xs-6 text-left no-padding-right">
                                        <div class="rows sub-total price total-price-bottom">@item.totality</div>
                                        <div class="rows sub-total price shipping-price-bottom"></div>
                                        <div class="rows sub-total price off-price-bottom">0</div>
                                        <div class="rows sub-total price cart-total">@item.Deposit</div>
                                    </div>
                                    <div class="col-xs-6 text-right no-padding-left cart-bottom">
                                        <div class="rows">مجموع</div>
                                        <div class="rows">حمل و نقل</div>
                                        <div class="rows">میزان تخفیف</div>
                                        <div class="rows">مبلغ قابل پرداخت</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mar-top-30">
                            <h5 class="review-cart-heading ">
                                <span class="blocked">اطلاعات</span>
                            </h5>
                            <div class="cart-review">
                                <div class="inner row">
                                    <div class="col-md-6 col-xs-6 text-left no-padding-right">
                                        <div class="rows sub-total text-success total-price-bottom">@item.PaymentToken</div>
                                        <div class="rows sub-total off-price-bottom">@item.PaymentSerial</div>
                                        <div class="rows sub-total shipping-price-bottom tshdirltr">@item.Date</div>
                                        <div class="rows sub-total cart-total">زرین پال</div>
                                    </div>
                                    <div class="col-xs-6 text-right no-padding-left cart-bottom">
                                        <div class="rows text-success">کد پیگیری</div>
                                        <div class="rows">شماره سفارش</div>
                                        <div class="rows">زمان</div>
                                        <div class="rows">درگاه</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>*@

@section CS_Scripts {
    <script>
        var revapi;
        jQuery(document).ready(function () {
            setInterval(function () {
                $('.owl-prev').trigger('click');
            }, 3000);


            revapi = jQuery("#rev_slider_1").revolution({
                sliderType: "standard",
                sliderLayout: "fullscreen",
                fullScreenOffsetContainer: ".navigation",
                delay: 9000,
                navigation: {
                    keyboardNavigation: "off",
                    mouseScrollNavigation: "on",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    bullets: {
                        enable: true,
                        rtl: true,
                        hide_onmobile: false,
                        style: "hebe",
                        hide_onleave: false,
                        direction: "horizontal",
                        h_align: "center",
                        v_align: "bottom",
                        h_offset: 0,
                        v_offset: 10,
                        space: 5,
                        tmp: '<span class="tp-bullet-inner"></span>'
                    }
                },
                responsiveLevels: [4096, 1024, 767, 480],
                gridwidth: 1230,
                gridheight: 720
            });

            $("#LoaderSpinner").hide(0);
        }); /*ready*/
    </script>

    @Scripts.Render("~/bundles/CustomerSideUserProfile.js")
    @*@Scripts.RenderFormat(SiteKeys.ScriptVersion, "~/bundles/CustomerSideUserProfile.js")*@
}