@model BamboPortal_V1._0._0._0.ModelViews.AdministratorProducts.AddMainCategoryModel
@{
    ViewBag.Title = "MainCategory";
    Layout = "~/Views/SharedViewPages/Administrator/MasterView.cshtml";
}


<div class="modal fade" id="deactivemodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">غیرفعال سازی گروه اصلی</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <input id="deactivemodalID" value="" style="display:none" />
            <div class="modal-body">
                <p>
                    <small style="display: block">با غیرفعال کردن این گروه اصلی تمام زیرمجموعه های این گروه اصلی نیز غیرفعال خواهند شد.</small>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
                <button type="button" id="deActiveModal_SubmitBTN" class="btn btn-danger" onclick="return YesDeactivePlz()">بله</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="activemodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">غیرفعال سازی گروه اصلی</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <small style="display: block">با غیرفعال کردن این گروه اصلی تمام زیرمجموعه های این گروه اصلی نیز غیرفعال خواهند شد.</small>
                </p>
            </div>
            <div class="modal-footer">
                <input id="activemodalID" value="" style="display:none" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
                <button type="button" id="ActiveModal_SubmitBTN" class="btn btn-danger" onclick="return YesAactivePlz()">بله</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCus" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">پاک کردن گروه اصلی</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <small style="display: block">با حذف کردن این گروه اصلی تمام زیرمجموعه های این گروه اصلی نیز حذف خواهند شد.</small>
                </p>
            </div>
            <div class="modal-footer">
                <input id="deleteCusID" value="" style="display:none" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">خیر</button>
                <button type="button" id="deleteCus_SubmitBTN" class="btn btn-danger" onclick="return YesDeletePlz()">بله</button>
            </div>
        </div>
    </div>
</div>


<!-- BEGIN: Subheader -->
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                <span class="m-subheader__daterange-label">
                    <h3 class="m-subheader__title" style="padding-left: 0!important;margin: 0 0 0 2px!important;">
                        پیشخوان
                        <i class="fa fa-chevron-left tshfontsize2" style="transform: translateY(3px);color: #aaaeb8;margin-right: 2px;"></i>
                        <span class="m-subheader__daterange-title tshfontsize2" style="margin-right: 2px;margin-left: 2px;">تعریف گروه اصلی محصولات</span>
                        <!--
                        <i class="fa fa-chevron-left" style="transform: translateY(3px);color: #aaaeb8;"></i>
                        <span class="m-subheader__daterange-title" style="margin-right: 2px;">نمایش همه ی پست ها</span>
                        -->
                    </h3>
                </span>
            </span>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-tools">
                        <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
                            <li class="nav-item m-tabs__item">
                                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
                                    <i class="flaticon-share m--hide"></i>
                                    <cust_title>
                                        تعریف گروه اصلی محصولات
                                    </cust_title>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <input id="AddMainCategorySubmiterRedirection" value="@Url.Action("MainCategory", "AdministratorProducts")" style="display:none;" />
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        @*=============================================Start The Form*@
                        @using (@Html.BeginForm("AddMainCategory", "AdministratorProducts", FormMethod.Post, new { @id = "AddMainCategorySubmiter", @class = "m-form m-form--fit m-form--label-align-right" }))
                        {

                            @Html.AntiForgeryToken();
                            <div class="m-portlet__body" style="padding-bottom: 0">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="form-group m-form__group col-lg-6 col-xs-12">
                                            @Html.LabelFor(m => m.FormSubmiting.IdofSardastebandi, "سردسته محصول :", new { @class = "col-12 tshtextright" })
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <select class="form-control m-bootstrap-select m_selectpicker" id="FormSubmiting_IdofSardastebandi" name="FormSubmiting.IdofSardastebandi" title="انتخاب کنید..." data-live-search="true">
                                                    @foreach (var item in Model.dastebandi_asli)
                                                    {
                                                        <option value=@item.Id>@item.Value</option>
                                                    }
                                                </select>
                                                @Html.ValidationMessageFor(m => m.FormSubmiting.IdofSardastebandi)
                                            </div>
                                        </div>
                                        <div class="form-group m-form__group col-lg-6 col-xs-12" style="padding-top: 0;">
                                            <div class="col-lg-12">
                                                @Html.LabelFor(m => m.FormSubmiting.NameofCategory, "نام گروه اصلی :", new { @id = "FormSubmiting_NameofCategoryLBL", @class = "form-control-label" })
                                                @Html.TextBoxFor(m => m.FormSubmiting.NameofCategory, new { @class = "form-control m-input", @Value = Model.FormSubmiting.NameofCategory, @placeholder = "نام گروه اصلی" })
                                                @Html.ValidationMessageFor(m => m.FormSubmiting.NameofCategory)
                                            </div>
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(m => m.FormSubmiting.IDMainCategoryForEdit, new { @style = "display:none;", @class = "form-control m-input", @Value = Model.FormSubmiting.IDMainCategoryForEdit })
                                    <div class="m-portlet__foot m-portlet__foot--fit">
                                        <div class="m-form__actions">
                                            <div class="row">
                                                <div class="col-lg-12 tshtextleft" style="padding-left: 0;">
                                                    <button id="AddMainCategorySubmiter_SubmitBTN" type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom tga">ثبت</button>&nbsp;&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        @*=============================================END The Form*@

                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="m_user_profile_tab_1">
                        <form class="m-form m-form--fit m-form--label-align-right" onsubmit="return false;" id="blgform">
                            <div class="m-portlet__body" style="padding-bottom: 0">
                                <div class="col-12">
                                    <div>
                                        <div class="m-portlet__head-title container-fluid mt-4">
                                            <h3 class="m-portlet__head-text" style="font-size: 12px;border-bottom: 1px solid rgba(0,0,0,.1);padding-bottom: 17px;">
                                                لیست برچسب ها
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="container-fluid">
                                        <table class="cust-table table table-striped table-hover m-table m-table--head-separator-primary">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>سردسته</th>
                                                    <th>گروه اصلی</th>
                                                    <th>وضعیت</th>
                                                    <th>عملیات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*///////////////////////////////////////////////////////////////////////////////////*@
                                                @if (Model.Table.Count > 0)
                                                {


                                                    foreach (var item in Model.Table)
                                                    {
                                                        <tr>
                                                            <th scope="row">@item.Num</th>
                                                            <td>
                                                                @item.Type
                                                                <input id="idoftype-@item.Id" style="display:none;" value="@item.IDtype" />
                                                            </td>
                                                            <td id="idofMC-@item.Id">@item.Main</td>
                                                            <td>

                                                                @if (item.IsDeleted == 1)
                                                                {
                                                                    <button class="btn btn-danger tshpcustom deactivate-btn"><i class="fa fa-check tshfa"></i>حذف شده</button>
                                                                }
                                                                else if (item.IsDisables == 0)
                                                                {
                                                                    <button class="btn btn-success tshpcustom deactivate-btn" data-target="#deactivemodal" data-toggle="modal" data-name="مردانه" onclick="return DeActivate('@item.Id')"><i class="fa fa-check tshfa"></i>فعال</button>
                                                                }
                                                                else
                                                                {
                                                                    <button onclick="return Activate('@item.Id')" class="btn btn-warning tshpcustom deactivate-btn" data-target="#activemodal" data-toggle="modal" data-name="مردانه"><i class="fa fa-check tshfa"></i>غیر فعال</button>
                                                                }
                                                            </td>
                                                            <td>
                                                                @if (item.IsDeleted != 1)
                                                                {

                                                                    <button class="btn btn-warning tshpcustom cus-delete-btn" onclick="return EditorforEdit('@item.Id')"><i class="fa fa-edit tshfa"></i>ویرایش</button>
                                                                    <button onclick="return DeleteMC('@item.Id')" class="btn btn-danger tshpcustom cus-delete-btn" data-target="#deleteCus" data-toggle="modal" data-name="مردانه"><i class="fa fa-trash tshfa"></i>حذف</button>

                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <h3 class="m-badge m-badge--danger m-badge--wide">
                                                        موردی برای نمایش وجود ندارد.

                                                    </h3>
                                                }


                                                @*///////////////////////////////////////////////////////////////////////////////////*@
                                            </tbody>
                                        </table>
                                        <table style="display: none;" class="cust-table cust-table-2 table table-striped table-hover m-table m-table--head-separator-primary">
                                            @*///////////////////////////////////////////////////////////////////////////////////*@
                                            @if (Model.Table.Count > 0)
                                            {

                                                foreach (var item in Model.Table)
                                                {
                                                    <tr>
                                                        <th>#</th>
                                                        <td>@item.Num</td>

                                                    </tr>
                                                    <tr>
                                                        <th>سردسته</th>
                                                        <td>@item.Type</td>
                                                    </tr>
                                                    <tr>
                                                        <th>گروه اصلی</th>
                                                        <td>@item.Main</td>
                                                    </tr>
                                                    <tr>
                                                        <th>وضعیت</th>
                                                        <td>
                                                            @if (item.IsDeleted == 1)
                                                            {
                                                                <button class="btn btn-danger tshpcustom deactivate-btn"><i class="fa fa-check tshfa"></i>حذف شده</button>
                                                            }
                                                            else if (item.IsDisables == 0)
                                                            {
                                                                <button class="btn btn-success tshpcustom deactivate-btn" data-target="#deactivemodal" data-toggle="modal" data-name="مردانه" onclick="return DeActivate('@item.Id')"><i class="fa fa-check tshfa"></i>فعال</button>
                                                            }
                                                            else
                                                            {
                                                                <button onclick="return Activate('@item.Id')" class="btn btn-warning tshpcustom deactivate-btn" data-target="#activemodal" data-toggle="modal" data-name="مردانه"><i class="fa fa-check tshfa"></i>غیر فعال</button>
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>عملیات</th>
                                                        <td>
                                                            @if (item.IsDeleted != 1)
                                                            {

                                                                <button class="btn btn-warning tshpcustom cus-delete-btn" onclick="return EditorforEdit('@item.Id')"><i class="fa fa-edit tshfa"></i>ویرایش</button>
                                                                <button onclick="return DeleteMC('@item.Id')" class="btn btn-danger tshpcustom cus-delete-btn" data-target="#deleteCus" data-toggle="modal" data-name="مردانه"><i class="fa fa-trash tshfa"></i>حذف</button>

                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <h3 class="m-badge m-badge--danger m-badge--wide">
                                                    موردی برای نمایش وجود ندارد.

                                                </h3>
                                            }
                                            @*///////////////////////////////////////////////////////////////////////////////////*@
                                        </table>
                                        <div class="col-lg-12 mt-4 mb-4">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/Select2.js")

    <script>
        $(document).ready(function () {
            $("#FormSubmiting_IdofSardastebandi").select2();
        });

        function DeActivate(id_) {
            $("#deactivemodalID").val(id_);
        }
        function Activate(id) {
            $("#activemodalID").val(id);
        }
        function EditorforEdit(id) {
            $("#FormSubmiting_IDMainCategoryForEdit").val(id);
            $("#FormSubmiting_NameofCategory").val($("#idofMC-" + id).text());
            $("#FormSubmiting_NameofCategoryLBL").text("در حال ویرایش " + $("#FormSubmiting_NameofCategory").val() + " :");
            var idtype = $("#idoftype-" + id).val();
            console.log(idtype);
            $("#FormSubmiting_IdofSardastebandi").val('' + idtype).trigger('change');
        }
        function DeleteMC(id) {
            $("#deleteCusID").val(id)
        }
        function YesDeactivePlz() {

            const PostJson = {
                'idToDEActive': $("#deactivemodalID").val()
            };

            $("#deActiveModal_SubmitBTN").addClass("m-loader m-loader--light m-loader--right").prop("disabled", true);
            $.ajax({
                url: '/AdministratorProducts/AddMainCategory_DeActive',
                type: "post",
                data: JSON.stringify(PostJson),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.Errortype == "Success") {
                        AlertToUser("deActiveModal", data);
                    } else {
                        alert(data.Errormessage);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("مشکل در برقراری ارتباط با سرور");
                }
            });
        }
        function YesAactivePlz() {

            const PostJson = {
                'idToActive': $("#activemodalID").val()
            };

            $("#ActiveModal_SubmitBTN").addClass("m-loader m-loader--light m-loader--right").prop("disabled", true);
            $.ajax({
                url: '/AdministratorProducts/AddMainCategory_Active',
                type: "post",
                data: JSON.stringify(PostJson),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.Errortype == "Success") {
                        AlertToUser("ActiveModal", data);
                    } else {
                        alert(data.Errormessage);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("مشکل در برقراری ارتباط با سرور");
                }
            });
        }
        function YesDeletePlz() {
            const PostJson = {
                'idTodelete': $("#deleteCusID").val()
            };
            $("#deleteCus_SubmitBTN").addClass("m-loader m-loader--light m-loader--right").prop("disabled", true);
            $.ajax({
                url: '/AdministratorProducts/AddMainCategory_DELETE',
                type: "post",
                data: JSON.stringify(PostJson),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.Errortype == "Success") {
                        AlertToUser("deleteCus", data);
                    } else {
                        alert(data.Errormessage);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("مشکل در برقراری ارتباط با سرور");
                }
            });
        }


    </script>
}